---
title: The case for Angular.js
description: Testing description
menuLink: Blog Post
sortOrder: 06
published: false 
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		<h3>HOMEPAGE</h3>
				<h2><a href="about.html">ljasnd</a></h2>

	{{/content}}
{{/extend}}
