---
title: What we did for others?
description: Testing description
menuLink: Case Studies
sortOrder: 04
---

{{#extend "lyt-default"}}
	{{#content "main"}}
		<h3>HOMEPAGE</h3>
				<h2><a href="about.html">ljasnd</a></h2>
	{{/content}}
{{/extend}}
