---
block: footer
---
<section class="b-footer">

	<div class="container">
		
		<div class="row">
			
			<div class="col-sm-4 col-xs-12 m-t-35">
				<img src="img/logotype-white.png" data-src-retina="img/logotype-white.png" class="b-footer__logo" alt="">
				
				<p class="b-footer__address m-t-25 m-b-5">61 1 Stewart Street<br>London, E14 3EX</p>
				<p class="b-footer__address m-t-5">(+44) 574 558 5854<br>info@axetay.co.uk</p>
			</div>


			<div class="col-sm-2 col-xs-6 m-t-40">
				<h6 class="font-montserrat text-uppercase fs-14 text-white p-b-10">Clients </h6>
				
				<ul class="no-style">
					<li class="m-b-5 no-padding"><a href="#" class="link text-white ">Our team</a></li>
					<li class="m-b-5 no-padding"><a href="#" class="link text-white">Our location</a></li>
					<li class="m-b-5 no-padding"><a href="#" class="link text-white">Contact Us</a></li>
					<li class="m-b-5 no-padding"><a href="#" class="link text-white">About Us</a></li>
				</ul>
			</div>

			<div class="col-sm-2 col-xs-6 m-t-40">
				<h6 class="font-montserrat text-uppercase fs-14 text-white p-b-10">Clients </h6>
				
				<ul class="no-style">
					<li class="m-b-5 no-padding"><a href="#" class="link text-white ">Our team</a></li>
					<li class="m-b-5 no-padding"><a href="#" class="link text-white">Our location</a></li>
					<li class="m-b-5 no-padding"><a href="#" class="link text-white">Contact Us</a></li>
					<li class="m-b-5 no-padding"><a href="#" class="link text-white">About Us</a></li>
				</ul>
			</div>


			<div class="col-sm-2 col-xs-6 m-t-40">
				<h6 class="font-montserrat text-uppercase fs-14 text-white p-b-10">Clients </h6>
				
				<ul class="no-style">
					<li class="m-b-5 no-padding"><a href="#" class="link text-white ">Our team</a></li>
					<li class="m-b-5 no-padding"><a href="#" class="link text-white">Our location</a></li>
					<li class="m-b-5 no-padding"><a href="#" class="link text-white">Contact Us</a></li>
					<li class="m-b-5 no-padding"><a href="#" class="link text-white">About Us</a></li>
				</ul>
			</div>

		</div>

		
		<p class="b-footer__legal">Copyright © 2016. All Rights Reserved to Axetay Limited <br> Company VAT number: 817674207 | Company number: 4551774</p>

	</div>

</section>