---
component: Homepage Featured Casestudy CTA
--- 

<section class="p-home__work">

  <div class="container">
    
    <div class="h-block-inner">
      
      <h5 class="h-block-inner-title">{{home.workcta.header}}</h5>

      <div class="row">

	      <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 col-lg-3 pull-right">
	        <img class="p-home__work-blocks" src="img/savills.png" alt="Axetay Limited">
	      </div>

	      <div class="col-xs-12 col-sm-12  col-md-8 col-lg-8">
	        <div class="p-home__work-content">  
	          <h1 class="p-home__work-content-header">{{home.workcta.case-title}}</h1>
	          <p class="p-home__work-content-subheader">{{home.workcta.case-subtitle}}</p>
	          <a class="p-home__work-content-button" href="about.html">{{home.workcta.cta-button}}</a>
	        </div>
	      </div>

      </div>

    </div>

  </div>

</section>