---
component: Home Hero
--- 

<section class="c-hero--fullheight p-home--heroimgbg">
	
	<div class="h-div-table">
		<div class="h-div-cell"> 

			<!-- Hero Inner content -->
			<div class="c-hero__inner">
				<div class="h-div-table">
					<div class="h-div-cell">

						<div class="container">
							<div class="row">
								<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12 c-hero__content">	
										<h1 class="c-hero__content-header">The right mix of experience, skills and disciplines on budget</h1>
										<h3 class="c-hero__content-subheader">Help customers create innovative services and solutions to drive business results. For that purpose we provide rich technology competencies, domain expertise and passion for quality of our software professions.</h3>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- Hero Inner content -->

		</div>
	</div>

</section>